// -----------------------------------------------------------------------------
// Variables: Outer spacing
// Horizontal spacing widths
// -----------------------------------------------------------------------------

$outer-spacing-lg: 5vw;
$outer-spacing-md: 1.5rem;
$outer-spacing-sm: 1rem;
$outer-spacing-xlg: calc(50vw - (#{$bp-xlg} / 2 ));
$outer-spacing-max: 80vw;
