// -----------------------------------------------------------------------------
// Variables: Vertical Rhythm
// Vertical spacing heights
// -----------------------------------------------------------------------------

$vertical-rhythm-xsm: 1.5rem;
$vertical-rhythm-sm: 2.5rem;
$vertical-rhythm-md: 5rem;
$vertical-rhythm-lg: 7.5rem;
