// -----------------------------------------------------------------------------
// Base: Base
// Basic site styles
// -----------------------------------------------------------------------------

// === Box Model === //
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
*,
*::before,
*::after {
  box-sizing: inherit;
}

// === HTML & Body === //
html,
body {
  height: 100%;
  font-size: $base-font-size + px;
  margin: 0;
  padding: 0;
}

// === Body === //
body {
  background-color: $color-background;
}

// === Base items === //
.container {
  @include outer-spacing($container: true);
}
